body {
    padding: 0px;
    margin: 0px;
    background-color: #05131E;
    width: 100%;
    position: absolute;
    overflow-x: hidden;
    font-family: Futura, helvetica, verdana, sans-serif;
    color: whitesmoke;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 120px;
    position: sticky;
    z-index: 100;
    top: 0px;
    width: 100%;
    height: 45px;
    background-color: rgb(9, 27, 44);
    box-shadow: 0px 3px 10px rgb(1, 9, 14);
}

#left {
    display: inline-flex;
    font-size: 23px;
}

#left:hover {
    box-shadow: 0px 10px 10px rgb(0, 16, 20);
    z-index: 1000;
    transition-duration: 0.3s;
    text-decoration: inherit;
}

.logo {
    border-radius: 50%;
    padding: 6px;
}

.title {
    padding: 7px;
}

#right {
    position: relative;
    display: inline-flex;
    justify-content: space-around;
    height: 45px;
    background-color: rgb(6, 30, 39);
    font-size: 20px;
}

button {
    padding-top: 2px;
}

.selection {
    width: 100%;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    transition-duration: 0.2s;
    text-align: center;
    text-decoration: none;
    border: none;
    font-size: 20px;
    background-color: rgb(7, 37, 54);
    color: whitesmoke;
}

.selection:hover {
    box-shadow: 0px 10px 10px rgb(0, 16, 20);
    background-color: rgb(9, 48, 70);
    transition-duration: 0.3s;
    z-index: 1000;
    text-decoration: inherit;
}

#content-1 {
    display: absolute;
    position: relative;
    top: 0px;
}

.dropbtn {
    color: whitesmoke;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: rgb(9, 27, 44);
    min-width: 160px;
    z-index: 1;
}
  
.dropdown-content a {
    padding: 12px 16px;
    display: block;
}
  
.dropdown-content a:hover {
    transition-duration: 0.2s;
    box-shadow: 0px 3px 5px 0px rgb(2, 12, 31);
    background-color: rgb(10, 36, 59);
}

.dropdown:hover .dropdown-content {
    display: block;
}

a:link {
    text-decoration: inherit;
    color: inherit;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
}

.boxes {
    width: 85%;
    align-content: center;
    background-color: rgba(12, 33, 49, 0.829);
    padding: 10px;
    margin-left: 7.5%;
    transform: translate(-10px);
    border-radius: 20px;
}

.content {
    width: 85%;
    align-content: center;
    padding: 0px;
    margin-left: 7.5%;
    margin-top: 2%;
    border-radius: 20px;
}

#content-title {
    padding: 15px;
}

.full-block {
    background-color: rgba(12, 33, 49, 0.829);
}

.inner-content {
    padding: 50px;
}

#title {
    margin-top: 2%;
}

.audio-player {
    display: inline;
    height: 35px;
    width: 100px;
    float: right;
}


.layout-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.u-info {
    height: 500px;
    position: relative;
    left: -10px;
    padding: 20px;
    border-radius: 20px;
}

.sub-table {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 12.5px;
}

.sub-grid {
    padding: 20px;
    border-radius: 20px;
}

#u-info {
    padding: 0px;
}

footer {
    margin-top: 50px;
    height: 70px;
    padding: 25px;
    padding-top: 50px;
    text-align: center;
    background-color: rgb(17, 39, 59);
}

.user-board {
    display: grid;
    grid-template-rows: 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 0.5fr;
}

.user-grid-section {
    background-color: rgb(17, 39, 59);
    padding: 4px;
    border-radius: 5px;
}

#u-name {
    font-size: 14px;
}
#u-wxh {
    font-size: 10px;
    color: rgb(18, 67, 112);
}

.user-grid-section:hover {
    background-color: rgb(11, 32, 51);
    transition-duration: 0.2s;
    box-shadow: 0px 3px 10px rgb(1, 9, 14);
}

.boxes:hover {
    background-color: rgb(8, 34, 58);
    transition-duration: 0.2s;
    box-shadow: 0px 3px 10px rgb(1, 9, 14);
}

.full-block:hover {
    background-color: rgb(8, 34, 58);
    transition-duration: 0.2s;
    box-shadow: 0px 3px 10px rgb(1, 9, 14);
}

audio:hover{
    transition-duration: 0.2s;
    box-shadow: 5px 3px 10px rgb(1, 9, 14);
}