body {
    padding: 0px;
    margin: 0px;
    background-color: #05131E;
    width: 100%;
    overflow-x: hidden;
    font-family: Futura, helvetica, verdana, sans-serif;
    color: whitesmoke;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 47.5%;
    position: sticky;
    z-index: 100;
    top: 0px;
    width: 100%;
    height: 45px;
    background-color: rgb(6, 30, 39);
    box-shadow: 0px 3px 10px rgb(1, 9, 14);
}

#left {
    display: inline-flex;
    font-size: 23px;
}

.logo {
    border-radius: 50%;
    padding: 6px;
}

.title {
    padding: 7px;
}

#right {
    position: relative;
    display: inline-flex;
    justify-content: space-around;
    height: 45px;
    background-color: rgb(15, 48, 48);
    font-size: 20px;
}

.selection {
    width: 100%;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding: 10px;
    transition-duration: 0.2s;
    text-align: center;
    text-decoration: none;
    border: none;
    font-size: 20px;
    background-color :rgb(15, 40, 48);
    color: whitesmoke;
}

.selection:hover {
    background-color :rgb(9, 30, 37);
    box-shadow: 0px 10px 10px rgb(0, 16, 20);
    z-index: 1000;
    text-decoration: inherit;
}

#content-1 {
    display: absolute;
    position: relative;
    top: 0px;
}

.dropbtn {
    background-color: rgb(6, 30, 39);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(6, 30, 39);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin: 10px;
    z-index: 1;
    right: 0px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    height: 20px;
    text-decoration: none;
}
  
.dropdown-content a:hover {
    background-color: rgb(6, 30, 39);
}

.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: rgb(6, 45, 59);
}

a:link {
    text-decoration: inherit;
    color: inherit;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
}

.boxes {
    width: 85%;
    align-content: center;
    background-color: rgba(12, 33, 49, 0.829);
    padding: 10px;
    margin-left: 5%;
    border-radius: 20px;
}

.content {
    width: 85%;
    align-content: center;
    padding: 10px;
    margin-left: 5%;
    margin-top: 2%;
    border-radius: 20px;
}

#content-1 {
    padding: 15px;
}

.full-block {
    background-color: rgba(12, 33, 49, 0.829);
}

.inner-content {
    padding: 50px;
}

#title {
    margin-top: 2%;
}

.audio-player {
    display: inline;
    height: 35px;
    width: 100px;
    float: right;
}

.content-footer {
    font-size: 10px;
    position: relative;
    left: 80%;
}

.layout-grid {
    display: grid;
    grid-template-columns: 50% 1% 50%;
}

.u-info {
    height: 500px;
    position: relative;
    left: -10px;
    padding: 20px;
    border-radius: 20px;
}

.sub-table {
    display: grid;
    grid-template-rows: 48% 4% 48%;
}

.sub-grid {
    padding: 20px;
    border-radius: 20px;
}